body {
  background-color: darkslategrey;
  display: grid;
  place-content: center;
}

div.border {
  background-color: rgb(247, 247, 247);
  padding: 10px;
}

fieldset {
  display: block;
  margin-top: 10px;
}

fieldset:first-child {
  margin-top: 0;
}

legend {
  margin-top: auto;
  /* background-color: azure; */
}

.borderInput {
  border: 2px solid rgb(19, 12, 116);
  border-radius: 4px;
}

#borderLog {
  background-color: rgb(247, 247, 247);
  padding: 10px;
}

button{
margin-top: 10px;
}

tr, td, ul, ol {
  color: aliceblue;
}

span {
  background-color: rgb(226, 224, 65);
}

div > span {
  background-color: rgb(105, 215, 219);
}

ol li:first-of-type + li {
  color: red;
}

p{
    border-left: 2px solid #0083ca; 
    padding: 1em; 
    font-size: large;
    color:aliceblue;
}
      
p::before,
p::after {
    content: "“"; 
    font-size: 40px; 
    color: #c1172c; 
    /* line-height: 0;  */
}
      
p::after {
     content: "”"; 
}
